body{
  background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/itCjTBE/blue-gear-circuit-board-and-arrows-tech-background-video-animation-hd-1920x1080_4j1mr68gx__F0009.png');
  background-repeat: no-repeat;
  background-origin: fixed;
  background-size: cover;
  text-align: center;
}

.h2{
  font-size: 50px;
  font-weight: bold;
  font-family: fantasy;
}
.h3{
  font-size: 50px;
  padding: 0.5%;
  font-weight: bold;
  font-family: fantasy;
}

.h1{
  font-size: 150px;
  color: #00004d;
  font-weight: bold;
  font-family: fantasy;
  animation: blinker 3s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
}
.form{
  padding: 5%;
  white-space: pre-wrap;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.footer {
  padding: 5%;
  font-size: 30px;
  font-weight: bold;
  font-family: fantasy;
}
.nameOfsearch{
  font-size: 35px;
  color: #000000;
  font-weight: bold;
  font-family: fantasy;
}
.nameOfsearch:after {
    white-space: pre;
}
.input{
  width: 600px;
  height: 40px;
}
button{
  width: 100px;
  height: 40px;
  font-size: 30px;
}
img{
  display: block;
  margin: 0 auto;
}
